/* RESET STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

input:focus{
    outline: none;
}

li {
    list-style-type: none;
}

/* COMMON */
:root {
    --main-color: #1D3862;
    --second-color: #000;
}

.title {
    color: var(--main-color);
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-style: normal;
    font-size: min(max(32px, 3.1vw), 59px);
    text-transform: uppercase;
    &-light {
        color: var(--main-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: min(max(32px, 3.1vw), 58px);
    text-transform: uppercase;
    }
}

/* HEADER */
.header {
    display: flex;
    &__logo {
        width: 95px;
        padding-top: 24px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__contacts {
        width: 312px;
    }
    &__contacts::before {
        content: '';
        background: var(--second-color);
        display: block;
        width: 312px;
        height: 1px;
    }
    &__socials {
        display: flex;
        max-width: 138px;
        width: 100%;
        justify-content: space-between;
    }
    &__background {
        background-image: url(../img/background-img.png);
        background-size: cover;
        flex-basis: 50%;
        width: 100%;
        position: relative;
    }
    &__arrow {
        position: absolute;
        height: 46px;
        width: 46px;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        bottom: 69px;
    }
    &__arrow:hover svg circle {
        fill: #FFF;
        transition: fill 0.3s ease;
    }
    &__arrow:hover svg path {
        fill: #1D3862;
        transition: fill 0.3s ease;
    }
}

.wrapper__contact {
    padding-bottom: 51px;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.contact {
    &__item {
        text-align: center;
        padding-top: 3px;
    }
    &__item:nth-child(1) {
        padding-top: 30px;
    }
    &-link {
        color: var(--second-color);
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 21px;
        padding-bottom: 10px;
    }
}

/* ADVATAGES */
.advantages {
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__description {
        flex-basis: 50%;
        position: relative;
        padding-right: 15px;
    }
    &__description:before, &__description:after {
        content: '';
        display: block;
        width: calc(100% + 175px);
        height: 1px;
        position: absolute;
        left: -175px;
        background-color: transparent;
        transition: background-color 0.3s;
    }
    &__description:after {
        bottom: 0px;
    }
    &__description:before {
        top: 0px;
    }
    &__description:hover::before, &__description:hover::after {
        background-color: var(--second-color);
    }
    &__description__title {
        color: var(--main-color);
        font-family: 'PT Serif';
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    &__description__text {
        color: var(--second-color);
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 143%;
        padding-top: 19px;
    }
    &__img {
        flex-basis: 50%;
    }
    &__image {
        max-width: 809px;
        width: 100%;
        height: auto;
    }
}

/* MAIN */
.services {
    &__items {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        max-height: 600px;
        border-top: 1px solid var(--main-color);
    }
    &__item:nth-child(even) {
        background-color: var(--main-color);
        color: #FFF;
    }
    &__title-main-2 {
        width: calc(100% / 3);
        margin: 0 auto;
        white-space: nowrap;
    }
    &__item-inner {
        padding-right: 23px;
    }
    &__title, &__item-inner, &__count {
        font-family: 'PT Serif', serif;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    &__item:nth-child(odd) > .services__title {
        color: var(--main-color);
    }
}

/* PARTNER */
.partner {
    margin-top: -1px;
    margin-bottom: -1px;
    &__inner {
        background-image: url(../img/partner-bg.png);
        background-size: cover;
    }
    &__description {
        color: #FFF;
        padding-top: 190px;
        padding-bottom: 195px;
        margin: 0 auto;
    }
    &__title-light {
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-style: italic;
        font-size: min(max(32px, 3.2vw), 58px);
        text-transform: uppercase;
    }
    &__title {
        font-family: 'PT Serif', serif;
        font-weight: 700;
        font-style: normal;
        font-size: min(max(32px, 3.1vw), 59px);
        text-transform: uppercase;
    }
}

/* announcement*/
.announcement {
    &__inner {
        background-image: url(../img/announcement-bg.png);
        background-size: cover;
        background-position: center center;
    }
    &__description {
        color: #FFF;
        text-align: right;
        margin: 0 auto;
    }
    &__title {
        font-family: 'PT Serif', serif;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    &__title-light {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase; 
    }
}
/* FOOTER */
.footer {
    background-color: var(--main-color);
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        padding-bottom: 10px;
    }
    &__link {
        color: #FFF;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 500;
    }
    &__socials {
        display: flex;
        justify-content: space-between;
        max-width: 138px;
        width: 100%;
    }
    &__copyright {
        color: #FFF;
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        opacity: .6;
    }
}
.contact__form, .contact__block {
    width: 50%;
}
.contact__title {
    color: #FFF;
    font-family: 'PT Serif', serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.submit__button {
    background-color: #FFF;
    border-radius: 45px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--main-color);
    transition: opacity 0.3s ease;
}
.submit__button:hover {
    opacity: 0.7;
}
.form__input {
    background-color: var(--main-color);
    border: none;
    border-bottom: 1px solid #D9D9D9;
    max-width: 826px;
    width: 100%;
    color: #FFF;
}

.form__input::placeholder {
    color: #FFF;
    font-family: 'Raleway';
    font-weight: 400;
    margin-bottom: 0px;
    opacity: .6;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    padding-top: 22px;
    padding-bottom: 32px;
    background-color: var(--main-color);
    font-family: 'Raleway';
    font-weight: 400;
    color: #FFF;
    opacity: .6;
    width: 100%;
    border-bottom: 1px solid #ffffff;
    max-width: 826px;
}
  
.selected-option {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}
  
.options {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 100%;
    background-color: var(--main-color);
}

.opt {
    padding: 10px;
}
/* MEDIA */
@media (max-width: 576px) {
    .header {
        flex-direction: column;
        &__info {
            padding: 0px 24px;
        }
        &__logo {
            width: 95px;
            padding-top: 24px;
        }
        &__title {
            padding-left: 0px;
            max-width: 286px;
        }
        &__title-first {
            align-self: flex-start;
            text-align: center;
        }
        &__title-second {
            align-self: flex-end;
            text-align: center;
        }
        &__socials {
            padding-top: 17px;
        }
        &__arrow {
            top: 62px;
        }
        &__contacts {
            margin-top: 54px;
            min-width: 234px;
        }
        &__contacts:before {
            min-width: 234px;
        }
        &__background {
            background-image: url(../img/background-img-s.png);
            min-height: 314px;
        }
    }
    .title {
        font-size: 32px;
        &-wrapper {
            padding-top: 54px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        }
        &-light-header {
            display: block;
        }
    }
    .advantages {
        &__wrapper {
            padding: 50px 0px;
        }
        &__description {
            width: 100%;
        }
        &__item:first-child {
            padding-top: 34px;
            color: red;
        }
        &__item {
            flex-direction: column;
            padding-top: 50px;
        }
        &__title {
            text-align: center;
            position: relative;
            margin-bottom: 34px;
        }
        &__title::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #000;
            bottom: -34px;
        }
        &__description:before, &__description:after {
            display: none;
        }
        &__description {
            padding-left: 24px;
            &__title {
                font-size: 22px;
            }
            &__text {
                font-size: 16px;
                padding-bottom: 24px;
            }
        }
        &__img {
            width: 100%;
        }
    }
    .services {
        &__titles {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 214px;
            margin: 0 auto;
        }
        &__item {
            border-top: none;
        }
        &__title-main {
            font-size: 25px;
            text-align: left;
        }
        &__title-main-2 {
            font-size: 25px;
            text-align: right;
            width: 100%;
            text-wrap: wrap;
        }
        &__items {
            flex-direction: column;
        }
        &__item {
            padding: 50px 24px;
        }
        &__title {
            padding-top: 24px;
            padding-bottom: 16px;
        }
    }
    .title-light-services {
        display: block;
        text-align: left;
    }
    .partner {
        &__inner {
            background-image: url(../img/partner-bg-s.png);
            background-size: cover;
        }
        &__description {
            width: 80%;
        }
        &__title, &__title-light {
            font-size: 32px;
        }
    }
    .announcement {
        &__inner {
            background-image: url(../img/announcement-bg-s.png);
            min-height: 888px;
        }
        &__description  {
            padding: 68px 35px;
            white-space: wrap;
            text-align: left;
        }
        &__title {
            font-size: 24px;
        }
        &__title-light {
            font-size: 24px;
        }
    }
    .footer {
        &__inner {
            flex-direction: column;
            padding: 52px 36px;
        }
        &__logo {
            width: 133px;
            height: 67px;
            margin-bottom: 24px;
        }
        &__socials {
            padding-top: 9px;
        }
    }
    .contact__block {
        width: 100%;
    }
    .contact__form {
        width: 100%;
        padding-top: 70px;
    }
    .form__input {
        height: 82px;
    }
    .submit__button {
        font-size: 16px;
        width: 100%;
        height: 50px;
        margin-top: 60px;
    }
    .footer__copyright {
        text-align: center;
        padding-bottom: 36px;
    }
    .opt {
        width: 150px;
    }
}

@media (min-width: 576px) {
    .header {
        height: 100vh;
        &__info {
            padding-left: 53px;
        }
        &__logo {
            width: 127px;
            padding-top: 53px;
        }
        &__title {
            padding-left: 0px;
        }
        &__button {
            width: 240px;
            padding-top: 30px;
        }
        &-btn {
            width: 240px;
            height: 50px;
        }
        &__socials {
            padding-top: 13px;
        }
        &__arrow {
            bottom: 69px;
        }
    }
    .advantages {
        &__wrapper {
            padding: 56px 70px;
        }
        &__description {
            padding: 20px 0px;
            padding-right: 15px;
        }
        &__item:not(:first-of-type) {
            margin-top: -10%;
        }
        &__image {
            visibility: hidden;
        }
    }
    .services {
        &__title-main {
            text-align: left;
            margin: 0 auto;
            width: 55%;
        }
        &__title-main-2 {
            padding-bottom: 60px;
        }
        &__items {
            flex-direction: row;
        }
        &__item {
            padding: 24px;
            width: calc(100% / 3);
        }
        &__title {
            padding-top: 24px;
            padding-bottom: 16px;
        }
    }
    .partner {
        &__description {
            width: 80%;
        }
        &__title {
            padding-left: 0px;
        }
        &__title-light:nth-child(2) {
            text-align: center;
            padding-right: 0px;
        }
        &__title:nth-child(even) {
            text-align: center;
            padding-right: 0px;
        }
    }
    .announcement {
        &__inner {
            min-height: 888px;
        }
        &__description  {
            padding: 132px 65px;
            white-space: wrap;
        }
        &__title {
            font-size: 15px;
        }
        &__title-light {
            font-size: 16px;
        }
        &__title-light:nth-child(even) {
            padding-top: 5px;
            padding-bottom: 5px;
        }
        &__title-light:nth-child(odd) {
            text-align: center;
        }
    }
    .footer {
        &__inner {
            flex-direction: column;
            padding: 52px 78px;
        }
        &__logo {
            width: 133px;
            height: 67px;
            margin-bottom: 46px;
        }
        &__link {
            font-size: 20px;
        }
        &__socials {
            padding-top: 14px;
        }
        &__copyright {
            font-size: 15px;
            padding-top: 57px;
            padding-bottom: 35px;
            text-align: center;
        }
    }
    .contact__form, .contact__block {
        margin: 0 auto;
    }
    .contact__form {
        width: 50%;
        padding-top: 70px;
    }
    .contact__title {
        font-size: 34px;
    }
    .form__input {
        height: 82px;
    }
    .submit__button {
        font-size: 16px;
        width: 160px;
        height: 40px;
        margin-top: 39px;
    }
}

@media (min-width: 768px) {
    .partner__description {
        width: 66%;
    }
    .advantages {
        &:not(:first-of-type) {
            margin-top: -14%;
        }
        &__wrapper {
            padding: 56px 100px;
        }
        &__description {
            padding: 25px 0px;
            padding-right: 30px;
        }
        &__description__title {
            font-size: 22px;
        }
        &__description__text {
            font-size: 18px;
        }
    }
    .announcement {
        &__description {
            width: 100%;
            white-space: nowrap;
        }
        &__title {
            font-size: 18px;
            margin: 0 auto;
            width: 80%;
            text-align: left;
        }
        &__title-light {
            font-size: 19px;
            margin: 0 auto;
            width: 89%;
            text-align: rigth;
        }
    }
    .services {
        &__item {
            padding: 35px;
        }
        &__text {
            font-size: 18px;
        }
    }
    .footer {
        &__inner {
            flex-direction: row;
            padding: 52px 78px;
        }
        &__logo {
            width: 123px;
            margin-bottom: 66px;
        }
        &__link {
            font-size: 18px;
        }
        &__copyright {
            font-size: 16px;
            padding-top: 67px;
            padding-bottom: 45px;
            padding-left: 78px;
            text-align: left;
        }
    }
    .contact {
        &__form {
            padding-top: 0px;
        }
        &__title {
            font-size: 34px;
        }
    }
    .form__input {
        height: 82px;
    }
    .submit__button {
        font-size: 16px;
        width: 160px;
        height: 40px;
        margin-top: 39px;
    }
}

@media (min-width: 992px) {
    .advantages {
        &__wrapper {
            padding: 96px 173px;
        }
        &__item:not(:first-of-type) {
            margin-top: -25%;
        }
        &__description {
            padding: 30px 0px;
            padding-right: 33px;
        }
    }
    .services {
        &__item {
            padding: 45px;
        }
        &__text {
            font-size: 20px;
        }
        &__title {
            padding-top: 40px;
            padding-bottom: 20px;
        }
        &__title, &__item-inner, &__count {
            font-size: 24px;
        }
    }
    .partner {
        &__title {
            padding-left: 86px;
        }
        &__title-light:nth-child(2) {
            text-align: right;
            padding-right: 13px;
        }
        &__title:nth-child(even) {
            text-align: right;
            padding-right: 67px;
        }
    }
    .announcement {
        &__inner {
            min-height: 1084px;
        }
        &__title {
            font-size: 26px;
        }
        &__title-light {
            font-size: 27px;
        }
    }
    .footer {
        &__inner {
            padding: 101px 130px;
        }
        &__logo {
            width: 133px;
            height: 67px;
            margin-bottom: 66px;
        }
        &__link {
            font-size: 19px;
        }
        &__copyright {
            font-size: 16px;
            padding-top: 67px;
            padding-bottom: 65px;
            padding-left: 130px;
        }
    }
    .form__input {
        height: 68px;
    }
    .contact__title {
        font-size: 42px;
    }
    .submit__button {
        width: 180px;
        height: 46px;
        margin-top: 49px;
    }
}
@media (min-width: 1200px) {
    .header {
        &__title {
            padding-left: 16px;
        }
        &__title:nth-child(2) {
            padding-left: 38px;
        }
    }
    .advantages {
        &__wrapper {
            padding: 136px 173px;
        }
        &__description {
            padding: 43px 0px;
        }
        &__description__title {
            font-size: 24px;
        }
        &__description__text {
            font-size: 20px;
        }
    }
    .services {
        &__title {
            padding-top: 60px;
        }
        &__item {
            padding: 65px;
        }
    }
    .announcement {
        &__inner {
            min-height: 1084px;
        }
        &__title-light:nth-child(even) {
            padding-top: 15px;
            padding-bottom: 17px;
        }
        &__title-light:nth-child(odd) {
            padding-left: 45px;
        }
    }
}