/* RESET STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

input:focus{
    outline: none;
}

li {
    list-style-type: none;
}

/* COMMON */
:root {
    --main-color: #1D3862;
    --second-color: #000;
}

.title {
    color: var(--main-color);
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-style: normal;
    font-size: min(max(32px, 3.1vw), 59px);
    text-transform: uppercase;
    &-light {
        color: var(--main-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: min(max(32px, 3.1vw), 58px);
    text-transform: uppercase;
    }
}

/* HEADER */
.header {
    display: flex;
    &__logo {
        width: 95px;
        padding-top: 24px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__contacts {
        width: 312px;
    }
    &__contacts::before {
        content: '';
        background: var(--second-color);
        display: block;
        width: 312px;
        height: 1px;
    }
    &__socials {
        display: flex;
        max-width: 138px;
        width: 100%;
        justify-content: space-between;
    }
    &__background {
        background-image: url(../img/background-img.png);
        background-size: cover;
        flex-basis: 50%;
        width: 100%;
        position: relative;
    }
    &__arrow {
        position: absolute;
        height: 46px;
        width: 46px;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        bottom: 69px;
    }
    &__arrow:hover svg circle {
        fill: #FFF;
        transition: fill 0.3s ease;
    }
    &__arrow:hover svg path {
        fill: #1D3862;
        transition: fill 0.3s ease;
    }
}

.wrapper__contact {
    padding-bottom: 51px;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.contact {
    &__item {
        text-align: center;
        padding-top: 3px;
    }
    &__item:nth-child(1) {
        padding-top: 30px;
    }
    &-link {
        color: var(--second-color);
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 21px;
        padding-bottom: 10px;
    }
}

/* ADVATAGES */
.advantages {
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__description {
        flex-basis: 50%;
        position: relative;
        padding-right: 15px;
    }
    &__description:before, &__description:after {
        content: '';
        display: block;
        width: calc(100% + 175px);
        height: 1px;
        position: absolute;
        left: -175px;
        background-color: transparent;
        transition: background-color 0.3s;
    }
    &__description:after {
        bottom: 0px;
    }
    &__description:before {
        top: 0px;
    }
    &__description:hover::before, &__description:hover::after {
        background-color: var(--second-color);
    }
    &__description__title {
        color: var(--main-color);
        font-family: 'PT Serif';
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    &__description__text {
        color: var(--second-color);
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 143%;
        padding-top: 19px;
    }
    &__img {
        flex-basis: 50%;
    }
    &__image {
        max-width: 809px;
        width: 100%;
        height: auto;
    }
}

/* MAIN */
.services {
    &__items {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        max-height: 600px;
        border-top: 1px solid var(--main-color);
    }
    &__item:nth-child(even) {
        background-color: var(--main-color);
        color: #FFF;
    }
    &__title-main-2 {
        width: calc(100% / 3);
        margin: 0 auto;
        white-space: nowrap;
    }
    &__item-inner {
        padding-right: 23px;
    }
    &__title, &__item-inner, &__count {
        font-family: 'PT Serif', serif;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    &__item:nth-child(odd) > .services__title {
        color: var(--main-color);
    }
}

/* PARTNER */
.partner {
    margin-top: -1px;
    margin-bottom: -1px;
    &__inner {
        background-image: url(../img/partner-bg.png);
        background-size: cover;
    }
    &__description {
        color: #FFF;
        padding-top: 190px;
        padding-bottom: 195px;
        margin: 0 auto;
    }
    &__title-light {
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-style: italic;
        font-size: min(max(32px, 3.2vw), 58px);
        text-transform: uppercase;
    }
    &__title {
        font-family: 'PT Serif', serif;
        font-weight: 700;
        font-style: normal;
        font-size: min(max(32px, 3.1vw), 59px);
        text-transform: uppercase;
    }
}

/* announcement*/
.announcement {
    &__inner {
        background-image: url(../img/announcement-bg.png);
        background-size: cover;
        background-position: center center;
    }
    &__description {
        color: #FFF;
        text-align: right;
        margin: 0 auto;
    }
    &__title {
        font-family: 'PT Serif', serif;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }
    &__title-light {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase; 
    }
}

/* MEDIA */
@media (max-width: 576px) {
    .header {
        flex-direction: column;
        &__info {
            padding: 0px 24px;
        }
        &__logo {
            width: 95px;
            padding-top: 24px;
        }
        &__title {
            padding-left: 0px;
            max-width: 286px;
        }
        &__title-first {
            align-self: flex-start;
            text-align: center;
        }
        &__title-second {
            align-self: flex-end;
            text-align: center;
        }
        &__socials {
            padding-top: 17px;
        }
        &__arrow {
            top: 62px;
        }
        &__contacts {
            margin-top: 54px;
            min-width: 234px;
        }
        &__contacts:before {
            min-width: 234px;
        }
        &__background {
            background-image: url(../img/background-img-s.png);
            min-height: 314px;
        }
    }
    .title {
        font-size: 32px;
        &-wrapper {
            padding-top: 54px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        }
        &-light-header {
            display: block;
        }
    }
    .advantages {
        &__wrapper {
            padding: 50px 0px;
        }
        &__description {
            width: 100%;
        }
        &__item:first-child {
            padding-top: 34px;
            color: red;
        }
        &__item {
            flex-direction: column;
            padding-top: 50px;
        }
        &__title {
            text-align: center;
            position: relative;
            margin-bottom: 34px;
        }
        &__title::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #000;
            bottom: -34px;
        }
        &__description:before, &__description:after {
            display: none;
        }
        &__description {
            padding-left: 24px;
            &__title {
                font-size: 22px;
            }
            &__text {
                font-size: 16px;
                padding-bottom: 24px;
            }
        }
        &__img {
            width: 100%;
        }
    }
    .services {
        &__titles {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 214px;
            margin: 0 auto;
        }
        &__item {
            border-top: none;
        }
        &__title-main {
            font-size: 25px;
            text-align: left;
        }
        &__title-main-2 {
            font-size: 25px;
            text-align: right;
            width: 100%;
            text-wrap: wrap;
        }
        &__items {
            flex-direction: column;
        }
        &__item {
            padding: 50px 24px;
        }
        &__title {
            padding-top: 24px;
            padding-bottom: 16px;
        }
    }
    .title-light-services {
        display: block;
        text-align: left;
    }
    .partner {
        &__inner {
            background-image: url(../img/partner-bg-s.png);
            background-size: cover;
        }
        &__description {
            width: 80%;
        }
        &__title, &__title-light {
            font-size: 32px;
        }
    }
    .announcement {
        &__inner {
            background-image: url(../img/announcement-bg-s.png);
            min-height: 888px;
        }
        &__description  {
            padding: 68px 35px;
            white-space: wrap;
            text-align: left;
        }
        &__title {
            font-size: 24px;
        }
        &__title-light {
            font-size: 24px;
        }
    }
}